<div class="row">
    <div class="col-md-6">
      <a routerLink="/" class="btn btn-secondary myedit"><i class="fa fa-arrow-circle-o-left "></i> Back To Dashboard</a>
    </div>

  <div *ngIf="studs" class="col-md-12">
  
  <section>
      <h2>Student Details</h2>
      <mat-card class="example-card">
        <!-- <mat-card-header>
          <img mat-card-avatar src="../assets/shiba-inu-avatar.jpg" aria-label="Shiba Inu avatar">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image  src="../assets/shiba-inu.jpg" aria-label="Shiba Inu">
        <mat-card-content>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </mat-card-content>
        <mat-card-actions align="center">
            <div class="btn-group">
          <a [routerLink]="['/edit-student/'+id]" class="btn btn-secondary myedit">Edit</a>
          <button type="button" class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </section>
    
  </div>
  </div>
