
  <div>
        <mat-toolbar color="primary">
                <!-- <button mat-icon-button >
                  <mat-icon>menu</mat-icon>
                </button> -->
                <div class="demo-toolbar">
                  <h1 [routerLink]="['']" >Student Resources Managment System</h1>
                  <!-- <div>
                 <button mat-button (click)="toggleTheme()">{{dark ? 'Light' : 'Dark'}} theme</button>
                  </div> -->
                </div>
              </mat-toolbar>  
    <div class='container'>
       
<router-outlet></router-outlet>